apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: web-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      bb: web
  template:
    metadata:
      labels:
        bb: web
    spec:
      containers:
      - name: web-app
        image:127.0.0.1:32000/dockerexample:41

apiVersion: v1
kind: Service
metadata:
  name: bb-entrypoint
  namespace: default
spec:
  type: NodePort
  selector:
    bb: web
  ports:
  - port: 8088
    targetPort: 8088
    nodePort: 30001
